body {
    display: block;
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    font-family:'Outfit', sans-serif ;
    width: 220px;
    height: 450px;
    border: 12px solid hsl(216, 50%, 16%);
    border-radius: 15px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    
}

.container1 {
    background:hsl(217, 54%, 11%);
    border: 12px solid hsl(216, 50%, 16%);
    background-clip: padding-box, content-box;
    box-shadow: inset 0 0 0 90px hsl(216, 50%, 16%);
}

img {
    max-width: 220px;
    height: auto;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
}

.container {
    background-color: hsl(216, 50%, 16%);
    background-clip: padding-box, content-box;
}

.days {
    float: right;
    color: hsl(215, 51%, 70%);
}

hr {
     border-bottom: 1px;
}

.myimg {
    max-width: 13px;
    max-height: 20px;
}

@media screen and (max-width: 480px) {
     .container {
        width: 375px;
    }
}

@media  screen and (max-width: 1280px) {
    .container {
        width: 1440px;
    }
    
}

.text:hover {
    color: hsl(217, 54%, 11%);
}
    
.days:hover {
    color: hsl(217, 54%, 11%);
}
